@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  @apply font-quicksand font-medium bg-ghost-white;
}

.tooltip {
  clip-path: polygon(
    calc(0% + 10px) 0%,
    100% 0%,
    100% 100%,
    calc(0% + 10px) 100%,
    calc(0% + 10px) calc(50% + 7.5px),
    0% 50%,
    calc(0% + 10px) calc(50% - 7.5px)
  );
}

.label:focus-within div {
  @apply text-orange-web;
}

input:focus,
textarea:focus {
  @apply border-orange-web outline-none;
}
